h1{
    color: greenyellow;
}

body {
    background-color: gray;
}

.grid {
    display: grid;
    width: 100%;
}

.box {
    color: purple;
    border-radius: 10pt;
    border: 3px solid white;
    width: 33%;
}